h1,
h2,
h3 {
  font-weight: normal;
  margin: 20px;
}

.level, .word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.play {
  display: none;
}

.meaning {
  padding: 20px;
  flex: 1;
}

.options {
  flex: 1;
}

.result {
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-top: 20px;
  width: 70%;
}
a {
  color: black;
}
a:hover { 
  color: #42b983;
}
.correct {
  color: green;
  flex: 1;
}
.wrong {
  color: red;
  flex: 1;
}
.option {
  width: 92%;
}
.next {
  flex: 1;
}
button {
  color: #523e22;
  font-size: 16px;
  border-radius: 3px;
  min-height: 30px;
  min-width: 150px;
  background-color: #d6e0d4;
  border: 1px solid grey;
  box-shadow: 2px 2px #82672e;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: #e6ae85;
}

h3:hover {
  cursor: pointer;
  text-decoration: underline;
}